<div class="bg-white border border-gray-200 overflow-hidden sm:rounded-lg">
   <div class="px-4 py-5 lg:flex lg:items-center lg:justify-between">
      <div class="">
         <h3 class="text-lg leading-6 font-medium text-gray-900">{{ branch.name | titlecase }}</h3>
         <p class="mt-1 max-w-2xl text-sm text-orange-500">{{ branch?.branchCode }}</p>
      </div>
      <!-- <h1 class="">Test</h1> -->
      <button href="#" class="
        ml-8
        whitespace-nowrap
        inline-flex
        items-center
        justify-center
        px-4
        py-2
        border
        rounded-md
        shadow-sm
        text-base text-orange-600
        border-orange-600
        hover:bg-orange-600 hover:text-white
        focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500
      " [routerLink]="[branch._id]" *ngIf="canEdit() | async">
         Edit
      </button>
   </div>
   <div class="border-t border-gray-200">
      <dl>
         <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Branch Name</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ branch.name | titlecase }}</dd>
         </div>
         <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Address</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
               <span class="block">
                  {{ branch?.address1 | titlecase }}
               </span>
               <span class="block">
                  {{ branch?.address2 | titlecase }}
               </span>
               <span class="block">{{ branch?.address3 | titlecase }}</span>
               <span class="block">{{ branch?.city | titlecase }}</span>
               <span class="block">{{ branch?.state | titlecase }}</span>
               <span class="block font-bold">{{ branch?.country | uppercase }}</span>
            </dd>
         </div>

         <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">FQDN</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ branch?.fqdn }}</dd>
         </div>
         <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Users</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ branch?.userCount }}</dd>
         </div>
         <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Assets</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ branch?.assetCount }}</dd>
         </div>
      </dl>
   </div>
</div>
