<div class="p-8">
  <div class="lg:flex lg:items-center lg:justify-between">
    <div class="flex-1 min-w-0">
      <h1 class="text-2xl tracking-tight font-medium text-gray-800 sm:text-2xl md:text-2xl">
        <span class="block xl:inline">Scanned</span>
        <span class="block text-orange-600 xl:inline"> Asset</span>
      </h1>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
      <span class="hidden sm:block">
        <button
          type="button"
          class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
        >
          <mat-icon class="-ml-1 mr-2 h-5 w-5 text-gray-500" svgIcon="feather:refresh-cw"></mat-icon>
          Refresh
        </button>
      </span>
    </div>
  </div>
</div>

<table mat-table [dataSource]="scannedAssets$ | async" multiTemplateDataRows class="mat-elevation-z3">
  <!-- Model  -->
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef>Model Name</th>
    <td mat-cell *matCellDef="let element">{{ element?.laptop.system.model }}</td>
  </ng-container>

  <!-- Serial  -->
  <ng-container matColumnDef="serial">
    <th mat-header-cell *matHeaderCellDef>Serial No.</th>
    <td mat-cell *matCellDef="let element">{{ element?.laptop.system.serial }}</td>
  </ng-container>

  <!-- HostName  -->
  <ng-container matColumnDef="hostname">
    <th mat-header-cell *matHeaderCellDef>Host Name</th>
    <td mat-cell *matCellDef="let element">{{ element.laptop.os.hostname }}</td>
  </ng-container>

  <!-- Date  -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div
        class="example-element-detail flex-col"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <app-spec-card-list [asset]="element"></app-spec-card-list>

        <div class="flex lg:items-center my-4 justify-end">
          <span class="sm:block">
            <button
              type="button"
              class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
              (click)="remove(element._id)"
            >
              <mat-icon class="-ml-1 mr-2 h-5 w-5 text-gray-500" svgIcon="feather:trash"></mat-icon>
              Remove
            </button>
          </span>

          <span class="sm:ml-3">
            <button
              type="button"
              class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
              (click)="addToPool(element._id)"
            >
              <!-- Heroicon name: solid/check -->
              <mat-icon class="-ml-1 mr-2 h-5 w-5" svgIcon="heroicons_outline:plus"></mat-icon>

              Add to Pool
            </button>
          </span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplay"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>

  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator
  class="z-10 dark:bg-transparent"
  [ngClass]="{ 'pointer-events-none': isLoading }"
  [length]="pagination.totalPage"
  [pageIndex]="pagination.page"
  [pageSize]="pagination.limit"
  [pageSizeOptions]="[5, 10, 25, 100]"
  [showFirstLastButtons]="true"
></mat-paginator>
