.card svg.material-icons path {
  fill: #888;
}

.card {
  border-radius: 30px;
  // border: 1px solid #eee;
  height: 195px;
  width: 190px;
  margin: 24px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  text-align: center;
  color: white;
}

.grey {
  color: #64748b;
}
mat-icon {
  color: #4a4a4a;
  height: auto;
  width: auto;
}
