<!-- This example requires Tailwind CSS v2.0+ -->
<div style="display: block; padding: 24px">
   <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
         <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
               <ng-container *ngIf="assets$ | async as assets; else noProducts">
                  <ng-container *ngIf="assets.length > 0; else noProducts">
                     <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                           <tr>
                              <th scope="col"
                                 class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Asset
                              </th>

                              <th scope="col"
                                 class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 User
                              </th>
                              <th scope="col"
                                 class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Host Name
                              </th>
                              <th scope="col"
                                 class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Allocation Status
                              </th>
                              <th scope="col"
                                 class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Branch
                              </th>
                              <th scope="col" class="relative px-6 py-3">
                                 <span class="sr-only">Edit</span>
                              </th>
                           </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                           <ng-container *ngFor="let asset of assets; trackBy: trackByFn">
                              <tr class="hover:bg-orange-50 cursor-pointer" (click)="openDetail(asset)">

                                 <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                       <div class="">
                                          <div class="text-sm font-medium text-gray-900">
                                             {{ asset[asset.type]?.system?.model }}
                                          </div>
                                          <div class="text-sm text-gray-500">{{ asset[asset.type]?.system?.serial }}
                                          </div>
                                          <!-- <img style="max-width: 84px; max-height: 18px" [src]="getLogo(asset)" alt="" /> -->
                                       </div>
                                    </div>
                                 </td>
                                 <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-blue-600 cursor-pointer hover:text-orange-500"
                                       (click)="$event.stopPropagation(); openCurrentUser(asset)">
                                       {{ getCurrentUser(asset) }} &nbsp; &nbsp;
                                       <!-- <mat-icon class="text-gray-300" svgIcon="mat_outline:link"></mat-icon> -->
                                    </div>
                                    <div class="text-sm text-gray-500 cursor-pointer hover:text-orange-500"
                                       (click)="$event.stopPropagation(); openPrevUser(asset)">
                                       {{ getPrevUser(asset) }}
                                    </div>
                                 </td>
                                 <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">{{ asset[asset.type]?.os?.hostname }}</div>
                                 </td>

                                 <td class="px-6 py-4 whitespace-nowrap">
                                    <span [ngClass]="{
                            'bg-green-100 ': asset.allocationStatus == 'IN_POOL',
                            'text-green-600': asset.allocationStatus == 'IN_POOL',
                            'bg-indigo-100': asset.allocationStatus == 'ASSIGNED',
                            'text-indigo-600': asset.allocationStatus == 'ASSIGNED',
                            'bg-red-100': asset.allocationStatus == 'SCRAP',
                            'text-red-600': asset.allocationStatus == 'SCRAP',
                            'bg-yellow-100': asset.allocationStatus == 'DOWN',
                            'text-yellow-600': asset.allocationStatus == 'DOWN'
                          }" class="px-2 inline-flex text-xs leading-5 rounded-full">
                                       {{ asset.allocationStatus.replace("_", " ") | titlecase }}
                                    </span>
                                 </td>
                                 <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ getBranchShortCode(asset.branch) }}
                                 </td>
                                 <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <div class="">
                                       <!-- Assign Button -->
                                       <button type="button"
                                          class="m-auto inline-flex items-center px-2 py-1 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-500 bg-white hover:bg-gray-50 hover:text-orange-600 hover:border-orange-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
                                          (click)="$event.stopPropagation(); assignToUser(asset)"
                                          *ngIf="canChangeStatus() | async" matTooltip="Edit Status">
                                          <mat-icon class="h-4 w-4" svgIcon="feather:user-check"></mat-icon>
                                       </button>
                                       <!-- Edit Button -->
                                       <button type="button"
                                          class="ml-2 m-auto inline-flex items-center px-2 py-1 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-500 bg-white hover:bg-gray-50 hover:text-orange-600 hover:border-orange-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
                                          *ngIf="canChangeStatus() | async" matTooltip="Edit"
                                          [routerLink]="['edit/' + asset._id]" (click)="$event.stopPropagation()">
                                          <mat-icon class="h-4 w-4" svgIcon="feather:edit"></mat-icon>
                                       </button>

                                       <!-- QR Button -->
                                       <button type="button"
                                          class="ml-2 m-auto inline-flex items-center px-2 py-1 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-500 bg-white hover:bg-gray-50 hover:text-orange-500 hover:border-orange-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
                                          matTooltip="Print QR" (click)="$event.stopPropagation(); printQR(asset)">
                                          <mat-icon class="h-4 w-4" svgIcon="heroicons_outline:qrcode"></mat-icon>
                                       </button>
                                    </div>
                                 </td>
                              </tr>
                           </ng-container>
                           <tr>
                              <td colspan="6">
                                 <mat-paginator class="z-10 dark:bg-transparent"
                                    [ngClass]="{ 'pointer-events-none': isLoading }" [length]="pagination.totalPage"
                                    [pageIndex]="pagination.page" [pageSize]="pagination.limit"
                                    [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </ng-container>
               </ng-container>
               <ng-template #noProducts>
                  <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                     There are no assets!
                  </div>
               </ng-template>
            </div>
         </div>
      </div>
   </div>
</div>
