<!-- This example requires Tailwind CSS v2.0+ -->
<div style="display: block; padding: 24px">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <ng-container *ngIf="assets$ | async as assets">
            <ng-container *ngIf="assets.length > 0; else noProducts">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th
                      scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Name
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Title
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Status
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                    >
                      Role
                    </th>
                    <th scope="col" class="relative px-6 py-3">
                      <span class="sr-only">Edit</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <ng-container *ngIf="assets$ | async as assets">
                    <ng-container *ngFor="let asset of assets; trackBy: trackByFn">
                      <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <div class="flex items-center">
                            <div class="">
                              <div class="text-sm font-medium text-gray-900">{{ asset.name }}</div>
                              <div class="text-sm text-gray-500">{{ asset.sr_no }}</div>
                            </div>
                          </div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <div class="text-sm text-gray-900">Regional Paradigm Technician</div>
                          <div class="text-sm text-gray-500">Optimization</div>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                          <span
                            class="
                              px-2
                              inline-flex
                              text-xs
                              leading-5
                              rounded-full
                              bg-green-100
                              text-green-800
                            "
                          >
                            Active
                          </span>
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Admin</td>
                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                          <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                        </td>
                      </tr>
                    </ng-container></ng-container
                  >
                  <tr>
                    <mat-paginator
                      class="sm:absolute sm:inset-x-0 z-10 dark:bg-transparent"
                      [ngClass]="{ 'pointer-events-none': isLoading }"
                      [length]="pagination.totalPage"
                      [pageIndex]="pagination.page"
                      [pageSize]="pagination.limit"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                      [showFirstLastButtons]="true"
                    ></mat-paginator>
                  </tr>
                </tbody>
              </table> </ng-container
          ></ng-container>
          <ng-template #noProducts>
            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
              There are no assets!
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
