.nav-line {
  position: absolute;
  z-index: 10;
  width: 4px;
  height: 100%;
  right: 0px;
  top: 0;
  background-color: orange;
}

button {
  text-align: left;
  height: 44px;
  width: 100%;
  padding-left: 35px;
}

button.active {
  background-color: rgba(255, 115, 20, 0.08);
  color: rgb(255, 115, 20);
}

mat-icon {
  padding: 3px;
}
.inactive {
  color: rgb(99, 115, 129);
}
