<div class="bg-white shadow overflow-hidden sm:rounded-lg max-w-3xl" style="min-width: 768px">
  <div class="px-4 py-5 flex items-center justify-between">
    <div class="flex items-center">
      <!-- <h1 class="">Test</h1> -->
      <mat-icon
        style="height: 40px; width: 40px"
        class="mx-12 text-gray-400 hover:text-orange-500"
        matTooltip="Asset Type : Laptop"
        svgIcon="mat_outline:laptop_mac"
      ></mat-icon>
      <div>
        <h3 class="mb-1 text-lg leading-6 font-medium text-gray-900">
          Asset Information &nbsp; &nbsp;
          <span
            [ngClass]="{
              'bg-green-100 ': asset.allocationStatus == 'IN_POOL',
              'text-green-600': asset.allocationStatus == 'IN_POOL',
              'bg-indigo-100': asset.allocationStatus == 'ASSIGNED',
              'text-indigo-600': asset.allocationStatus == 'ASSIGNED',
              'bg-red-100': asset.allocationStatus == 'SCRAP',
              'text-red-600': asset.allocationStatus == 'SCRAP',
              'bg-yellow-100': asset.allocationStatus == 'DOWN',
              'text-yellow-600': asset.allocationStatus == 'DOWN'
            }"
            class="px-2 inline-flex text-xs leading-5 rounded-full"
          >
            {{ asset.allocationStatus.replace("_", " ") | titlecase }}
          </span>
        </h3>
        <p class="max-w-2xl text-sm text-gray-500">{{ asset.sr_no }}</p>
      </div>
    </div>

    <div>
      <!-- Brand IMage / Icon  -->
      <img
        style="max-width: 84px; max-height: 70px"
        src="https://cdn.worldvectorlogo.com/logos/lenovo-2.svg"
        alt=""
      />

      <!-- <button
        href="#"
        class="
          ml-8
          p-2
          whitespace-nowrap
          inline-flex
          items-center
          justify-center
          rounded-full
          text-base text-orange-600
          focus:outline-none
        "
        (click)="close()"
        mat-ripple
      >
        <mat-icon svgIcon="heroicons_outline:x"></mat-icon>
      </button> -->
    </div>
  </div>

  <div class="border-t border-gray-200">
    <dl>
      <div class="flex flex-row items-center">
        <div class="flex-auto">
          <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Model Name</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ asset.name }}</dd>
          </div>
          <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Serial Number</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ asset.sr_no }}</dd>
          </div>
          <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Branch</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{ getBranchName(asset.branch) | titlecase }} &nbsp; &nbsp; &nbsp;
              <span class="text-gray-400">{{ getBranchShortCode(asset.branch) | uppercase }}</span>
            </dd>
          </div>
          <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Warranty Period</dt>
            <dd class="flex items-center content-center mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              24/12/2022 &nbsp; &nbsp;
              <mat-icon
                class="h-4 w-4"
                [ngClass]="{
                  'text-green-500': !isDateFuture('24/12/2022'),
                  'text-red-500': isDateFuture('24/12/2022')
                }"
                [svgIcon]="
                  !isDateFuture('24/12/2022') ? 'heroicons_solid:badge-check' : 'heroicons_solid:x-circle'
                "
              ></mat-icon>
            </dd>
          </div>
        </div>

        <app-qrcode [id]="asset._id" class="flex-none"></app-qrcode>
      </div>
      <div class="bg-gray-50 px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">About</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          {{ asset.laptop.hostName | keyvalue }}
        </dd>
      </div>
      <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Attachments</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"></dd>
      </div>
    </dl>
  </div>

  <!-- Bottom Action Bar -->
  <div class="px-4 py-2 border-t border-gray-200 bg-gray-50 flex justify-between sm:px-6">
    <!-- Left Side Action -->
    <div>
      <!-- Delete Asset -->
      <button
        type="button"
        class="
          ml-2
          m-auto
          inline-flex
          items-center
          px-1
          py-1
          border border-gray-300
          rounded-md
          shadow-sm
          text-sm
          font-medium
          text-red-500
          bg-white
          focus:outline-none
          hover:bg-gray-50 hover:text-red-600 hover:border-red-500
          focus:ring-2 focus:ring-offset-2 focus:ring-red-500
        "
        matTooltip="Delete Asset Permanently"
      >
        <mat-icon class="h-5 w-5" svgIcon="feather:trash"></mat-icon>
      </button>
    </div>

    <!-- Right Side Action -->
    <div>
      <button
        href="#"
        class="
          ml-8
          whitespace-nowrap
          inline-flex
          items-center
          justify-center
          px-3
          py-1
          border
          rounded-md
          shadow-sm
          text-base text-orange-600
          border-orange-600
          hover:bg-orange-600 hover:text-white
          focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500
        "
      >
        More Details
      </button>
      <button
        type="submit"
        class="
          inline-flex
          justify-center
          py-2
          px-4
          border border-transparent
          text-sm
          font-medium
          rounded-md
          text-gray-800
          hover:text-orange-700
        "
      >
        Close
      </button>
    </div>
  </div>
</div>
