<div class="card-container">
  <title-card [value]="50" [icon]="'inventory_2'" title="In Pool" bgColor="#C8FACD"></title-card>
  <title-card [value]="50" [icon]="'person_pin'" title="Assigned" bgColor="#D0F2FF"></title-card>
  <title-card [value]="50" [icon]="'delete_outline'" title="Scrap" bgColor="#FFF7CD"></title-card>
  <title-card [value]="50" [icon]="'warning'" title="Down" bgColor="#FFE7D9"></title-card>
</div>

<div class="grid grid-cols-6 gap-6 w-full min-w-0 p-6">
  <!-- Steps -->
  <simple-timeline></simple-timeline>

  <!-- Overall Asset Details  -->
  <overall-branch-asset-detail-table
    class="sm:col-span-6 md:col-span-6 lg:col-span-6"
  ></overall-branch-asset-detail-table>

  <!-- Last Created Asset Details  -->
  <last-created-asset-table class="sm:col-span-6 md:col-span-3 lg:col-span-3"></last-created-asset-table>

  <!-- Overall User Chart  -->
  <total-user-card class="sm:col-span-6 md:col-span-3 lg:col-span-3"></total-user-card>
</div>
