<div class="flex items-center border border-gray-100 rounded-lg">
  <mat-icon svgIcon="mat_outline:developer_board" style="margin: 16px"></mat-icon>
  <div class="flex flex-col w-full border-l border-gray-200" style="margin-left: 16px; padding: 18px">
    <div class="flex items-center">
      <h6 class="overf text-xs font-extralight text-gray-300">Slot 1 : &nbsp;</h6>
      <h6 class="overf text-sm font-regular">1231231FID</h6>
    </div>
    <div class="flex items-center">
      <h6 class="overf text-xs font-extralight text-gray-300">Slot 2 : &nbsp;</h6>
      <h6 class="overf text-sm font-regular">1231231FID</h6>
    </div>
  </div>

  <!-- <div class="flex flex-col w-full border-l border-gray-200" style="margin-left: 16px; padding: 18px">
    <div class="flex items-center">
      <h6 class="overf text-xs font-extralight text-gray-300">Slot 1 : &nbsp;</h6>
      <h6 class="overf text-sm font-regular">1231231FID</h6>
    </div>
    <div class="flex items-center">
      <h6 class="overf text-xs font-extralight text-gray-300">Slot 2 : &nbsp;</h6>
      <h6 class="overf text-sm font-regular">1231231FID</h6>
    </div>
  </div> -->
</div>
