<!-- This example requires Tailwind CSS v2.0+ -->
<div style="display: block; padding: 24px">
   <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
         <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
               <ng-container *ngIf="tickets$ | async as tickets; else noTickets">
                  <ng-container *ngIf="tickets.length > 0; else noTickets">
                     <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                           <tr>
                              <th scope="col"
                                 class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 User
                                 <!-- Call id,raised by,created at -->
                              </th>

                              <th scope="col"
                                 class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Priority
                              </th>
                              <th scope="col"
                                 class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Category
                                 <!-- category , sub category -->
                              </th>
                              <th scope="col"
                                 class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                 Last Attended By
                              </th>
                              <th scope="col" class="relative px-6 py-3">
                                 <span class="sr-only">Edit</span>
                              </th>
                           </tr>
                        </thead>
                        <tbody class="color-custom divide-y divide-gray-200">
                           <ng-container *ngFor="let ticket of tickets; trackBy: trackByFn">
                              <tr class="hover:bg-orange-50 cursor-pointer" [routerLink]="[ticket._id]">
                                 <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                       <div class="text-sm font-medium text-gray-900">
                                          <!-- {{ getUserName(ticket) }} -->
                                       </div>
                                    </div>
                                 </td>

                                 <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">{{ ticket.email }}</div>
                                 </td>

                                 <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <!-- {{ getBranchShortCode(ticket.branch) }} -->
                                 </td>
                                 <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ getDepartmentCode(ticket) }}
                                 </td>
                                 <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <div class="">
                                       <!-- Edit Button -->
                                       <button type="button"
                                          class="ml-2 m-auto inline-flex items-center px-2 py-1 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-500 color-custom hover:bg-gray-50 hover:text-orange-600 hover:border-orange-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
                                          matTooltip="Edit">
                                          <mat-icon class="h-4 w-4" svgIcon="feather:edit"></mat-icon>
                                       </button>
                                    </div>
                                 </td>
                              </tr>
                           </ng-container>
                           <tr>
                              <td colspan="6">
                                 <mat-paginator class="z-10 dark:bg-transparent"
                                    [ngClass]="{ 'pointer-events-none': isLoading }" [length]="pagination.totalPage"
                                    [pageIndex]="pagination.page" [pageSize]="pagination.limit"
                                    [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </ng-container>
               </ng-container>
               <ng-template #noTickets>
                  <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                     There are no tickets!
                  </div>
               </ng-template>
            </div>
         </div>
      </div>
   </div>
</div>
