<div class="p-8">
    <div class="lg:flex lg:items-center lg:justify-between">
        <div class="flex-1 min-w-0">
            <h1 class="text-2xl tracking-tight font-medium text-gray-800 sm:text-2xl md:text-2xl">
                <span class="block xl:inline">User</span>
                <span class="block text-orange-600 xl:inline"> Information</span>
            </h1>
        </div>
    </div>
</div>

<div class="grid grid-cols-6 gap-6 mx-8">
    <div class="col-span-4 flex flex-col gap-6">
        <!-- Basic Information -->
        <div class="border border-gray-300 rounded-lg p-4 grid grid-cols-2 gap-y-2">
            <!-- Title -->
            <div class="col-span-2 mb-4">
                <div class="px-4 sm:px-0">
                    <h3 class="font-medium leading-6 text-gray-900">Basic Information</h3>
                </div>
            </div>
            <!-- first Name -->
            <div class="col-span-1">
                <div class="px-4 sm:px-0">
                    <p class="mt-1 text-sm text-gray-600">First name</p>
                    <h3 class="font-medium leading-6 text-gray-900">{{ user?.firstName }}</h3>
                </div>
            </div>
            <!-- last name -->
            <div class="col-span-1">
                <div class="px-4 sm:px-0">
                    <p class="mt-1 text-sm text-gray-600">Last name</p>
                    <h3 class="font-medium leading-6 text-gray-900">{{ user?.lastName }}</h3>
                </div>
            </div>

            <!-- email -->
            <div class="col-span-1">
                <div class="px-4 sm:px-0">
                    <p class="mt-1 text-sm text-gray-600">Email</p>
                    <h3 class="font-medium leading-6 text-gray-900">{{ user?.email }}</h3>
                </div>
            </div>

            <!-- Mobile  -->
            <div class="col-span-1">
                <div class="px-4 sm:px-0">
                    <p class="mt-1 text-sm text-gray-600">Mobile Number</p>
                    <h3 class="font-medium leading-6 text-gray-900">{{ user.mobileNumber }}</h3>
                </div>
            </div>

            <!-- Department -->
            <div class="text-green">
                <div class="px-4 sm:px-0">
                    <p class="mt-1 text-sm text-gray-600">Department</p>
                    <h3 class="font-medium leading-6 text-gray-900">{{ getDepartmentName(user) }}</h3>
                </div>
            </div>
        </div>
        <!--Generated Ticket Information -->
        <div class="flex flex-col p-3 flex-auto bg-white rounded-lg overflow-hidden border border-gray-300">
            <div class="flex flex-col sm:flex-row items-start justify-between">
                <h3 class="font-medium leading-6 text-gray-900">Generated Ticket Information</h3>
            </div>
            <div class="grid grid-cols-2 border-t divide-x -m-4 mt-2 dark:bg-transparent">
                <div class="flex flex-col items-center justify-center p-4">
                    <div class="font-semibold text-blue-600 leading-none tracking-tighter">594</div>
                    <div class="mt-1 text-center text-sm text-gray-600">Open</div>
                </div>
                <div class="flex flex-col items-center justify-center p-4">
                    <div class="font-semibold text-green-500 leading-none tracking-tighter">287</div>
                    <div class="mt-1 text-center text-sm text-gray-600">Completed</div>
                </div>

                <!-- <div class="flex flex-col items-center justify-center p-4">
              <div class="font-semibold leading-none tracking-tighter">287</div>
              <div class="mt-1 text-center text-secondary">Completed Tickets</div>
            </div> -->
            </div>
        </div>

        <!--UAM Information -->
        <div class="flex flex-col p-3 flex-auto bg-white rounded-lg overflow-hidden border border-gray-300">
            <div class="flex flex-col sm:flex-row items-start justify-between">
                <h3 class="font-medium leading-6 text-gray-900">U.A.M Information</h3>
            </div>
            <div class="grid grid-cols-2 border-t divide-x -m-4 mt-2 dark:bg-transparent">
                <div class="flex flex-col items-center justify-center p-4">
                    <div class="font-semibold text-blue-600 leading-none tracking-tighter">2</div>
                    <div class="mt-1 text-center text-sm text-gray-600">Open</div>
                </div>
                <div class="flex flex-col items-center justify-center p-4">
                    <div class="font-semibold text-green-500 leading-none tracking-tighter">87</div>
                    <div class="mt-1 text-center text-sm text-gray-600">Completed</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Additional Information -->
    <div class="col-span-2 border-l border-gray-300 p-4 my-4 flex flex-col gap-y-3">
        <!-- Title -->
        <h3 class="mb-2 font-medium leading-6 text-gray-900">Additional Information</h3>

        <!-- Permission Level -->
        <div class="flex gap-x-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#a65fec">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
            </svg>
            <h3 class="font-medium leading-6 text-sm text-gray-900">{{ getUserLevel(user) }}</h3>
        </div>

        <!-- created At -->
        <div class="flex gap-x-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="grey">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>

            <h3 class="font-medium leading-6 text-sm text-gray-600">Created on {{ user.createdAt | date }}</h3>
        </div>
         <!-- updated At -->
         <div class="flex gap-x-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="grey">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>

            <h3 class="font-medium leading-6 text-sm text-gray-600">Last updated on {{ user.updatedAt | date }}</h3>
        </div>

        <!-- Asset Allocation status -->
        <div class="flex gap-x-4" *ngIf="user.allocatedAssets.length > 0">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="rgb(74, 222, 128)">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
            </svg>
            <h3 class="font-medium leading-6 text-sm text-gray-900">Asset allocated</h3>
        </div>

        <!-- Additional Permission -->
        <div class="mt-8">
            <div class="flex flex-col flex-auto bg-white rounded-lg overflow-hidden border border-gray-300">
                <div class="flex flex-col sm:flex-row items-start justify-between m-2">
                    <h3 class="font-medium leading-6 text-gray-900">Additional Permission</h3>
                </div>

                <!-- User -->
                <div class="border-t grid grid-cols-2 p-2">
                    <div class="col-span-1 flex flex-col items-start ml-2 justify-start border-r">
                        <!-- Type of Permission -->
                        <h3 class="font-medium leading-6 text-sm text-gray-900">User</h3>
                    </div>
                    <div class="col-span-1 flex flex-col items-center justify-center">
                        <!-- Permission -->
                        <span class="bg-blue-100 text-blue-600 px-4 p-1 inline-flex text-xs leading-5 rounded-full">
                            Read
                        </span>
                    </div>
                </div>

                <!-- UAM -->
                <div class="border-t grid grid-cols-2 p-2">
                    <div class="col-span-1 flex flex-col items-start ml-2 justify-start border-r">
                        <!-- Type of Permission -->
                        <h3 class="font-medium leading-6 text-sm text-gray-900">U.A.M</h3>
                    </div>
                    <div class="col-span-1 flex flex-col items-center justify-center">
                        <!-- Permission -->
                        <span class="bg-green-100 text-green-500 px-4 p-1 inline-flex text-xs leading-5 rounded-full">
                            Read / Write</span>
                    </div>
                </div>

                <!-- Asset -->
                <div class="border-t grid grid-cols-2 p-2">
                    <div class="col-span-1 flex flex-col items-start ml-2 justify-start border-r">
                        <!-- Type of Permission -->
                        <h3 class="font-medium leading-6 text-sm text-gray-900">Asset</h3>
                    </div>
                    <div class="col-span-1 flex flex-col items-center justify-center">
                        <!-- Permission -->
                        <span class="bg-green-100 text-green-500 px-4 p-1 inline-flex text-xs leading-5 rounded-full">
                            Read / Write</span>
                    </div>
                </div>

                <!-- Ticket -->
                <div class="border-t grid grid-cols-2 p-2">
                    <div class="col-span-1 flex flex-col items-start ml-2 justify-start border-r">
                        <!-- Type of Permission -->
                        <h3 class="font-medium leading-6 text-sm text-gray-900">Ticket</h3>
                    </div>
                    <div class="col-span-1 flex flex-col items-center justify-center">
                        <!-- Permission -->
                        <span class="bg-green-100 text-green-500 px-4 p-1 inline-flex text-xs leading-5 rounded-full">
                            Read / Write</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
