<div class="grid grid-cols-6 gap-6 m-4">
  <div class="col-span-4 flex flex-col gap-6">
    <!-- Basic Information -->
    <div class="border border-gray-300 rounded-lg p-4 grid grid-cols-2 gap-y-2">
      <!-- Title -->
      <div class="col-span-2 mb-4">
        <div class="px-4 sm:px-0">
          <h3 class="font-medium leading-6 text-gray-900">Basic Information</h3>
        </div>
      </div>
      <!-- first Name -->
      <div class="col-span-1">
        <div class="px-4 sm:px-0">
          <p class="mt-1 text-sm text-gray-600">First name</p>
          <h3 class="font-medium leading-6 text-gray-900">Govind</h3>
        </div>
      </div>
      <!-- last name -->
      <div class="col-span-1">
        <div class="px-4 sm:px-0">
          <p class="mt-1 text-sm text-gray-600">Last name</p>
          <h3 class="font-medium leading-6 text-gray-900">Ram</h3>
        </div>
      </div>

      <!-- email -->
      <div class="col-span-1">
        <div class="px-4 sm:px-0">
          <p class="mt-1 text-sm text-gray-600">Email</p>
          <h3 class="font-medium leading-6 text-gray-900">Test@test.com</h3>
        </div>
      </div>

      <!-- Mobile  -->
      <div class="col-span-1">
        <div class="px-4 sm:px-0">
          <p class="mt-1 text-sm text-gray-600">Mobile Number</p>
          <h3 class="font-medium leading-6 text-gray-900">9471744213</h3>
        </div>
      </div>

      <!-- Department -->
      <div class="text-green">
        <div class="px-4 sm:px-0">
          <p class="mt-1 text-sm text-gray-600">Department</p>
          <h3 class="font-medium leading-6 text-gray-900">IT</h3>
        </div>
      </div>
    </div>
    <!--Generated Ticket Information -->
    <div class="flex flex-col p-3 flex-auto bg-white rounded-lg overflow-hidden border border-gray-300">
      <div class="flex flex-col sm:flex-row items-start justify-between">
        <h3 class="font-medium leading-6 text-gray-900">Generated Ticket Information</h3>
      </div>
      <div class="grid grid-cols-2 border-t divide-x -m-4 mt-2 bg-gray-50 dark:bg-transparent">
        <div class="flex flex-col items-center justify-center p-4">
          <div class="font-semibold text-blue-600 leading-none tracking-tighter">594</div>
          <div class="mt-1 text-center text-sm text-gray-600">Open</div>
        </div>
        <div class="flex flex-col items-center justify-center p-4">
          <div class="font-semibold text-green-500 leading-none tracking-tighter">287</div>
          <div class="mt-1 text-center text-sm text-gray-600">Completed</div>
        </div>

        <!-- <div class="flex flex-col items-center justify-center p-4">
              <div class="font-semibold leading-none tracking-tighter">287</div>
              <div class="mt-1 text-center text-secondary">Completed Tickets</div>
            </div> -->
      </div>
    </div>
  </div>
  <!-- Additional Information -->
  <div class="col-span-2 border-l border-gray-300 p-4 my-4 flex flex-col gap-y-3">
    <!-- Title -->
    <h3 class="mb-4 font-medium leading-6 text-gray-900">Additional Information</h3>

    <!-- created At -->
    <div class="flex gap-x-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="rgb(75 85 99 /0.5)">
        <path
          fill-rule="evenodd"
          d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
          clip-rule="evenodd"
        />
      </svg>
      <h3 class="font-medium leading-6 text-sm text-gray-900">Created on Dec 02,2021</h3>
    </div>

    <!-- Open UAM  -->
    <div class="flex gap-x-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="rgb(74, 222, 128)">
        <path
          d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z"
        />
      </svg>
      <h3 class="font-medium leading-6 text-sm text-gray-900">Open U.A.M</h3>
    </div>

    <!-- Asset Allocation status -->
    <div class="flex gap-x-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="rgb(74, 222, 128)"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
        />
      </svg>
      <h3 class="font-medium leading-6 text-sm text-gray-900">Asset allocated</h3>
    </div>

    <!-- Ticket Information -->
    <h3 class="m-4 font-medium leading-6 text-gray-900">Ticket Information</h3>

    <!-- <div class="shadow-md rounded-md flex">
          <div class="fill-red-500 w-4 h-full"></div>
          <div class="px-4 sm:px-0">
            <h3 class="font-medium leading-6 text-gray-900">Open Tickets</h3>
            <p class="mt-1 text-sm text-gray-600">02</p>
          </div>
        </div> -->

    <div class="flex flex-row justify-between over h-18 rounded-md shadow-lg">
      <!-- <div class="relative flex flex-0 items-center justify-center w-10 h-10"></div> -->
      <div class="flex">
        <a class="w-5 h-full rounded-l-md bg-red-400"></a>

        <div class="px-4 m-2 sm:px-0">
          <h3 class="font-medium leading-6 text-gray-900">Open Tickets</h3>
        </div>
      </div>

      <div class="self-center mx-2">
        <p class="text-sm text-gray-600">02</p>
      </div>
    </div>
  </div>
</div>
