/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and rikiel's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@use "@angular/material" as mat;
@tailwind base;

$my-custom-level: mat.define-typography-config(
  $font-family: Poppins,
);
@include mat.core($my-custom-level);
/* You can add global styles to this file, and also import other style files */
:root {
  --SideNavBackgorund: #1e293b;
  --SideNavPColor: #8a8a8a;
  --SideNavIconColor: #e5e5e5;

  --SideNavIconColor: #e5e5e5;
  --TopNavIconColor: #8a8a8a;

  --TextColor: #4a4a4a;
}
mat-icon {
  color: var(--IconColor);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: Poppins, "Poppins", "Helvetica Neue", sans-serif;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: #FAFAFA;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}
// layout {
//   // display: flex;
//   // flex: 1 1 auto;
//   width: 100% !important;
//   max-width: 100%;
//   // min-width: 0;
// }
layout {
  display: flex;
  flex: 1 1 auto;
//   width: 100%;
//   max-width: 100%;
//   min-width: 0;
  height: 100%;
  max-height: 100%;

  /* Base styles for individual layouts */
  > * {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    // width: 100%;
    height: 100% !important;
  }

  /* Base styles for components that load as a route */
  router-outlet {
    + * {
      // position: relative;
      // display: flex;
      // flex: 1 1 auto;
      // width: 100%;
      height: 100% !important;
      //  background-color: rgba(243, 242, 242, 0.753);

    }
  }
}
.color-custom{
   background-color: #FAFAFA;
}
mat-stepper {
   background-color: #FAFAFA !important;

}
mat-expansion-panel{
   background-color: transparent !important;

}
mat-table{
   background-color: transparent !important;
   background: transparent !important;
}
.mat-table{
   background-color: transparent !important;
   background: transparent !important;
}

mat-paginator{
   background-color: transparent !important;
}

app-sign-in {
  width: 100%;
}
app-asset {
  height: 100% !important;
}

.float:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(255, 145, 79, 0.2);
}
.float {
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
}
.dashboard-card {
  min-height: 557px !important;
  max-height: 557px !important;
}
.icon-size-4 {
  width: 1rem !important;
  height: 1rem !important;
  min-width: 1rem !important;
  min-height: 1rem !important;
  font-size: 1rem !important;
  line-height: 1rem !important;
}
div.mat-expansion-panel-body {
  padding: 0px;
}

.mat-expansion-panel-header.mat-expanded {
  height: auto;
}

body rikiel-splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  color: #f9fafb;
  z-index: 999999;
  pointer-events: none;
  opacity: 1;
  visibility: visible;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

body rikiel-splash-screen img {
  width: 60px;
  max-width: 60px;
}

body rikiel-splash-screen .spinner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 56px;
}

body rikiel-splash-screen .spinner > div {
  width: 12px;
  height: 12px;
  background-color: rgb(234 88 12);
  opacity: 0.9;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: rikiel-bouncedelay 1s infinite ease-in-out both;
  animation: rikiel-bouncedelay 1s infinite ease-in-out both;
}

body rikiel-splash-screen .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

body rikiel-splash-screen .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes rikiel-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes rikiel-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

body:not(.rikiel-splash-screen-hidden) {
  overflow: hidden;
}

body.rikiel-splash-screen-hidden rikiel-splash-screen {
  visibility: hidden;
  opacity: 0;
}

@tailwind utilities;
