@import "~@angular/material/theming";
@include mat-core();

// Typography
$custom-typography: mat-typography-config(
  $font-family: Raleway,
  $headline: mat-typography-level(24px, 48px, 400),
  $body-1: mat-typography-level(16px, 24px, 400),
);
@include angular-material-typography($custom-typography);

// Default colors
$rikiel-orange: (
  50: #fff8e2,
  100: #ffecb5,
  200: #ffe185,
  300: #ffd655,
  400: #ffcb32,
  500: #ffc21e,
  600: #ffb519,
  700: #ffa218,
  800: #ff9116,
  900: #ff7214,
);

$rikiel-accent: (
  50: #e1f1fe,
  100: #b7ddfe,
  200: #87c8fe,
  300: #51b2fe,
  400: #14a1ff,
  500: #0091fe,
  600: #0083f0,
  700: #0071dd,
  800: #0060cb,
  900: #0041aa,
);
$my-app-primary: mat-palette($mat-deep-orange, 400);
// mat-palette($mat-brown, 200);

$my-app-accent: mat-palette($mat-blue);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);

// Dark theme
// $dark-primary: mat-palette($mat-blue-grey);
// $dark-accent: mat-palette($mat-amber, A200, A100, A400);
// $dark-warn: mat-palette($mat-deep-orange);

// $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// .dark-theme {
//   @include angular-material-theme($dark-theme);
// }

// Light theme
// $light-primary: mat-palette($mat-grey, 200, 500, 300);
// $light-accent: mat-palette($mat-brown, 200);
// $light-warn: mat-palette($mat-deep-orange, 200);

// $light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

// .light-theme {
//   @include angular-material-theme($light-theme);
// }
