<div class="p-8">
  <div class="lg:flex lg:items-center lg:justify-between">
    <div class="flex-1 min-w-0">
      <h1 class="text-2xl tracking-tight font-medium text-gray-800 sm:text-2xl md:text-2xl">
        <span class="block xl:inline">Create</span>
        <span class="block text-orange-600 xl:inline"> U.A.M</span>
      </h1>
    </div>
  </div>
</div>
<div class="px-8">
  <!-- request Type  -->
  <div class="bg-white px-4 py-2 mb-4 sm:grid sm:grid-cols-4 sm:gap-x-4 sm:gap-y-2 sm:px-6">
    <div class="text-sm font-medium"><h4 class="text-sm font-semibold">Request Type</h4></div>
    <div class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">
      <div class="flex flex-col items-center">
        <div class="flex items-center p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
          <button
            class="px-6 rounded-full"
            [ngClass]="{
              'bg-card pointer-events-none shadow': requestType == 'c',
              'bg-transparent': !(requestType == 'c')
            }"
            mat-flat-button
            (click)="requestType = 'c'"
            disableRipple
          >
            Create
          </button>
          <button
            class="px-6 rounded-full"
            [ngClass]="{
              'bg-card pointer-events-none shadow': requestType == 'm',
              'bg-transparent': !(requestType == 'm')
            }"
            mat-flat-button
            (click)="requestType = 'm'"
            disableRipple
          >
            Modify
          </button>

          <button
            class="px-6 rounded-full"
            [ngClass]="{
              'bg-card pointer-events-none shadow': requestType == 'd',
              'bg-transparent': !(requestType == 'd')
            }"
            mat-flat-button
            (click)="requestType = 'd'"
            disableRipple
          >
            Delete
          </button>

          <button
            class="px-6 rounded-full"
            [ngClass]="{
              'bg-card pointer-events-none shadow': requestType == 'de',
              'bg-transparent': !(requestType == 'de')
            }"
            mat-flat-button
            (click)="requestType = 'de'"
            disableRipple
          >
            Deactivate
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Single Or Multiple User  -->
  <div class="bg-white px-4 py-2 mb-4 sm:grid sm:grid-cols-4 sm:gap-x-4 gap-y-2 sm:px-6">
    <div class="text-sm font-medium"><h4 class="text-sm font-semibold">No. of User</h4></div>
    <div class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">
      <div class="flex flex-col items-center">
        <div class="flex items-center p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
          <button
            class="px-6 rounded-full"
            [ngClass]="{
              'bg-card pointer-events-none shadow': noOfUser == 'single',
              'bg-transparent': !(noOfUser == 'single')
            }"
            mat-flat-button
            (click)="(noOfUser == 'single')"
            disableRipple
          >
            Single
          </button>
          <button
            class="px-6 rounded-full"
            [ngClass]="{
              'bg-card pointer-events-none shadow': noOfUser == 'multiple',
              'bg-transparent': !(noOfUser == 'multiple')
            }"
            mat-flat-button
            (click)="(noOfUser == 'multiple')"
            disableRipple
          >
            Multiple
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- User Information  -->
  <div class="bg-white px-4 py-2 sm:grid sm:grid-cols-4 sm:gap-x-4 gap-y-2 sm:px-6">
    <div class="text-sm font-medium"><h4 class="text-sm font-semibold">User Information</h4></div>

    <div class="mt-1 col-span-3 grid grid-cols-6 gap-x-4 gap-y-2 items-center">
      <!-- UAM no. -->
      <div class="col-span-6" [style.fontSize.px]="12">
        <mat-form-field appearance="outline">
          <mat-label>U.A.M Number</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <!-- date of Request -->
      <div class="col-span-3" [style.fontSize.px]="12">
        <mat-form-field appearance="outline">
          <mat-label>Date of Request</mat-label>
          <input matInput [matDatepicker]="dor" />
          <mat-datepicker-toggle matSuffix [for]="dor"></mat-datepicker-toggle>
          <mat-datepicker #dor></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Date of Joining / Leaving -->
      <div class="col-span-3" [style.fontSize.px]="12">
        <mat-form-field appearance="outline">
          <mat-label>Date of Joining / Leaving </mat-label>
          <input matInput [matDatepicker]="doj" />
          <mat-datepicker-toggle matSuffix [for]="doj"></mat-datepicker-toggle>
          <mat-datepicker #doj></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Check if Single  -->
      <ng-container *ngIf="noOfUser == 'single'">
        <h4 class="text-lg col-span-full">Name of the Employee</h4>
        <h6 class="text-sm text-gray-500 col-span-full">(Service Request For)</h6>
        <!-- First Name -->
        <div class="col-span-3" [style.fontSize.px]="12">
          <mat-form-field appearance="outline">
            <mat-label>First Name </mat-label>
            <input matInput />
          </mat-form-field>
        </div>

        <!-- Last Name -->
        <div class="col-span-3" [style.fontSize.px]="12">
          <mat-form-field appearance="outline">
            <mat-label>Last Name </mat-label>
            <input matInput />
          </mat-form-field>
        </div>

        <!-- User ID -->
        <div class="col-span-3" [style.fontSize.px]="12">
          <mat-form-field appearance="outline">
            <mat-label>User ID</mat-label>
            <input matInput />
            <mat-hint>(For Apcer IT)</mat-hint>
          </mat-form-field>
        </div>

        <!-- Email ID -->
        <div class="col-span-3" [style.fontSize.px]="12">
          <mat-form-field appearance="outline">
            <mat-label>Email ID </mat-label>
            <input matInput />
            <mat-hint>(For Apcer IT)</mat-hint>
          </mat-form-field>
        </div>
      </ng-container>

      <!-- Type of Access Required  -->
      <div
        class="col-span-6 p-4 my-2 grid grid-cols-3 border-gray-300 border rounded-lg"
        [style.fontSize.px]="12"
      >
        <mat-hint class="col-span-1">Type of Access Required</mat-hint>
        <mat-radio-group class="flex gap-6 col-span-2">
          <mat-radio-button value="1">Permanent</mat-radio-button>
          <mat-radio-button value="2">Temporary</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- If Temporary -->
      <ng-container *ngIf="true">
        <div class="col-span-6" [style.fontSize.px]="12">
          <mat-form-field appearance="outline">
            <mat-label>Date for deactivation</mat-label>
            <input matInput [matDatepicker]="dod" />
            <mat-datepicker-toggle matSuffix [for]="dod"></mat-datepicker-toggle>
            <mat-datepicker #dod></mat-datepicker>
          </mat-form-field>
        </div>
      </ng-container>

      <!-- Type of User -->
      <ng-container>
        <div class="col-span-6 border-gray-300 border rounded-lg p-4 my-2">
          <div class="flex flex-col" [style.fontSize.px]="12">
            <mat-hint class="mr-3 mb-3">Type of User</mat-hint>
            <mat-radio-group class="flex flex-row mb-3">
              <mat-radio-button class="m-2" value="1">Apcer User</mat-radio-button>
              <mat-radio-button class="m-2" value="2">Apcer Client Emp</mat-radio-button>
              <mat-radio-button class="m-2" value="3">Other</mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- If Other -->
          <ng-container *ngIf="true">
            <div class="col-span-6 mb-2" [style.fontSize.px]="12">
              <mat-form-field appearance="outline">
                <mat-label>Other</mat-label>
                <input matInput />
                <mat-hint>Other if the person is not an APCER employee</mat-hint>
              </mat-form-field>
            </div>
          </ng-container>

          <!-- Designation -->
          <div class="col-span-6" [style.fontSize.px]="12">
            <mat-form-field appearance="outline">
              <mat-label>Designation</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
        </div>
      </ng-container>

      <!-- User Location -->
      <ng-container>
        <div class="col-span-6 border-gray-300 border rounded-lg p-4 my-2">
          <div class="flex flex-col" [style.fontSize.px]="12">
            <mat-form-field appearance="outline">
              <mat-label>User Location</mat-label>
              <select required>
                <option value="volvo">Apcer Delhi</option>
                <option value="saab">Apcer Ahmedabad</option>
                <option value="mercedes">Apcer US</option>
                <option value="audi">Apcer UK</option>
              </select>
            </mat-form-field>
          </div>

          <!-- If Other -->
          <ng-container *ngIf="true">
            <div class="col-span-6 mb-2" [style.fontSize.px]="12">
              <mat-form-field appearance="outline">
                <mat-label>Other</mat-label>
                <input matInput />
                <mat-hint
                  >Other if the user will work from non APCEr listed locations e.g. Client location</mat-hint
                >
              </mat-form-field>
            </div>
          </ng-container>

          <!-- Department -->
          <div class="col-span-6" [style.fontSize.px]="12">
            <mat-form-field appearance="outline">
              <mat-label>Department</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
