<div
  class="
    xl:col-span-2
    flex flex-col flex-auto
    bg-white
    float
    border-4 border-orange-300
    rounded-2xl
    overflow-hidden
    text-sm
    dashboard-card
  "
>
  <div class="p-6">
    <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Recent newJoinees</div>
    <!-- <div class="text-secondary font-medium">1 pending, 4 completed</div>   -->
  </div>
  <div class="overflow-x-auto mx-6 mb-6">
    <table
      class="w-full bg-transparent"
      mat-table
      matSort
      [dataSource]="recentTransactionsDataSource"
      [trackBy]="trackByFn"
      #recentTransactionsTable
    >
      <!-- Date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let newJoinee">
          <span class="pr-6 whitespace-nowrap">
            {{ newJoinee.createdAt | date: "MMM dd, y" }}
          </span>
        </td>
      </ng-container>

      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let newJoinee">
          <span class="pr-6 whitespace-nowrap">
            {{ newJoinee.firstName + " " + newJoinee.lastName }}
          </span>
        </td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let newJoinee">
          <span
            class="
              inline-flex
              items-center
              font-medium
              text-xs
              px-2.5
              py-0.5
              rounded-full
              tracking-wide
              uppercase
            "
            [ngClass]="{
              'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': newJoinee.isAssetAllocated == false,
              'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': newJoinee.isAssetAllocated
            }"
          >
            <span class="leading-relaxed whitespace-nowrap">{{
              newJoinee.isAssetAllocated ? "Allocated" : "Pending"
            }}</span>
          </span>
        </td>
      </ng-container>

      <!-- Footer -->
      <ng-container matColumnDef="recentOrdersTableFooter">
        <!-- <td class="py-6 px-0 border-0" mat-footer-cell *matFooterCellDef colspan="6">
          <button mat-stroked-button>See all newJoinees</button>
        </td> -->
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="recentTransactionsTableColumns; sticky: true"></tr>
      <tr
        class="order-row h-16 hover:bg-orange-100"
        mat-row
        *matRowDef="let row; columns: recentTransactionsTableColumns"
      ></tr>
      <!-- <tr class="h-16 border-0" mat-footer-row *matFooterRowDef="['recentOrdersTableFooter']"></tr> -->
    </table>
  </div>
</div>
