<div
  class="
    flex flex-col flex-auto
    p-6
    bg-white
    border-4 border-orange-300
    rounded-2xl
    overflow-hidden
    float
    dashboard-card
  "
>
  <div class="flex flex-col sm:flex-row items-start justify-between">
    <div class="font-medium tracking-tight leading-6 truncate">Last Created Hostname / Asset</div>
    <div class="mt-3 sm:mt-0 sm:ml-2">
      <!-- <mat-button-toggle-group value="today" #scheduleDaySelector="matButtonToggleGroup">
        <mat-button-toggle value="today">Today</mat-button-toggle>
        <mat-button-toggle value="tomorrow">Tomorrow</mat-button-toggle>
      </mat-button-toggle-group> -->
    </div>
  </div>
  <div class="flex flex-col mt-3 divide-y">
    <ng-container *ngFor="let asset of data.lastTenCreatedAssetsDetails; trackBy: trackByFn">
      <div
        class="
          flex flex-row
          items-center
          justify-between
          p-4
          text-sm
          hover:bg-orange-50
          cursor-pointer
          rounded-lg
        "
        [routerLink]="['/asset/' + asset._id ?? '']"
      >
        <div class="flex flex-col">
          <div class="tracking-tight leading-6 truncate font-semibold text-gray-900">
            {{ asset.hostName }}
          </div>
          <div
            class="
              flex flex-col
              sm:flex-row sm:items-center
              -ml-0.5
              mt-2
              sm:mt-1
              space-y-1
              sm:space-y-0 sm:space-x-3
            "
          >
            <ng-container *ngIf="asset.createdAt">
              <div class="flex items-center text-gray-500">
                <mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:clock'"></mat-icon>
                <div class="ml-1.5">{{ asset.createdAt | date }}</div>
              </div>
            </ng-container>
            <ng-container *ngIf="asset.serialNo">
              <div class="flex items-center text-gray-500">
                <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                <div class="ml-1.5">{{ asset.serialNo }}</div>
              </div>
            </ng-container>
          </div>
        </div>
        <button mat-icon-button>
          <mat-icon
            [svgIcon]="'heroicons_solid:chevron-right'"
            [routerLink]="['/asset/' + asset._id ?? '']"
          ></mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</div>
