<div *ngIf="user != null && user != undefined" style="height: 100%">
  <mat-drawer-container class="main-container bg-white" hasBackdrop="false">
    <mat-drawer #drawer class="sidenav" [mode]="mode" opened="true">
      <div style="display: flex; justify-content: space-between; padding: 24px 20px; align-items: center">
        <img src="../assets/logo/rikielR.svg" alt="" z-index="50" width="40px" height="40px" />
        <button z-index="50" mat-icon-button [routerLink]="['/']">
          <!-- <mat-icon svgIcon="heroicons_outline:user-circle"></mat-icon> -->
        </button>
      </div>
      <div class="sideNav-TopCard" style="display: flex; padding: 18px; align-items: center">
        <user></user>
        <!-- <mat-icon svgIcon="heroicons_outline:user-circle"style="margin-right: 16px" ></mat-icon> -->
        <div class="flex flex-col w-full" style="margin-left: 16px">
          <h6 class="w-full overf text-sm font-regular">{{ user.firstName }}</h6>
          <p class="text-xs font-extralight">{{ user.email }}</p>
        </div>
      </div>

      <!-- DASHBOARD Component -->
      <!-- <div style="margin-top: 24px">
      <div style="margin-left: 25px; margin-right: 25px">
        <span class="title">DASHBOARD</span>
        <p>Auto-resizing sidenav</p>
      </div>
    </div> -->
      <div class="side-con">
        <app-aside [routerString]="'/dashboard'" [svgIcon]="'feather:home'" [name]="'Dashboard'"></app-aside>
        <app-aside
          *ngIf="checkAsset() | async"
          [routerString]="'/asset'"
          [svgIcon]="'feather:layers'"
          [name]="'Asset'"
        ></app-aside>
        <app-aside
          *ngIf="checkTicket() | async"
          [routerString]="'/ticket'"
          [svgIcon]="'feather:home'"
          [name]="'Ticket'"
        ></app-aside>
        <app-aside
          *ngIf="checkUser() | async"
          [routerString]="'/user'"
          [svgIcon]="'feather:users'"
          [name]="'User'"
        ></app-aside>
        <app-aside
          *ngIf="checkUAM() | async"
          [routerString]="'/uam'"
          [svgIcon]="'feather:file-text'"
          [name]="'U.A.M'"
        ></app-aside>
        <app-aside
          *ngIf="checkVendor() | async"
          [routerString]="'/vendor'"
          [svgIcon]="'heroicons_outline:identification'"
          [name]="'Vendor'"
        ></app-aside>
        <app-aside
          *ngIf="checkBranch() | async"
          [routerString]="'/branch'"
          [svgIcon]="'heroicons_outline:office-building'"
          [name]="'Branch'"
          [isDisabled]="false"
        ></app-aside>
        <app-aside
          *ngIf="checkReport() | async"
          [routerString]="'/report'"
          [svgIcon]="'feather:activity'"
          [name]="'Report'"
          [isDisabled]="true"
        ></app-aside>
        <app-aside
          *ngIf="checkSetting() | async"
          [routerString]="'/setting'"
          [svgIcon]="'feather:sliders'"
          [name]="'Setting'"
          [isDisabled]="true"
        ></app-aside>

        <!-- <div class="MuiBox-root css-cgzaw6">
          <div class="css-1y6oevj-MuiStack-root">
            <img class="MuiBox-root css-8f3sc7" src="/static/rikiel-logo.svg" /> 
            <div class="MuiBox-root css-xi606m">
              <h6
                class="
                  MuiTypography-root MuiTypography-h6 MuiTypography-gutterBottom
                  css-1pby9zp-MuiTypography-root
                "
              >
                Need help?
              </h6>
              <p class="MuiTypography-root MuiTypography-body2 css-1aaagy3-MuiTypography-root">Contact Us</p>
            </div>
            <a
              class="
                MuiButton-root
                MuiButton-contained
                MuiButton-containedPrimary
                MuiButton-sizeMedium
                MuiButton-containedSizeMedium
                MuiButton-fullWidth
                MuiButtonBase-root
                css-puyqhf-MuiButtonBase-root-MuiButton-root
              "
              tabindex="0"
              href="mailto:hello@rikiel.com"
              >hello@rikiel.com<span class="MuiTouchRipple-root css-8je8zh-MuiTouchRipple-root"></span
            ></a>
          </div>
        </div> -->
      </div>
    </mat-drawer>

    <div class="flex flex-col flex-auto w-full min-w-0" style="color: var(--TextColor); overflow-x: hidden">
      <mat-toolbar
        class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden"
        style="z-index: 100; height: 64px; background-color: white"
      >
        <button mat-icon-button (click)="toggleDrawer()">
          <mat-icon class="topIcon" svgIcon="heroicons_outline:menu-alt-1"></mat-icon>
        </button>
        <!-- <span class="toolbar-spacer"></span> -->
        <!-- <a [routerLink]="['/']">
          <img class="mx-4" src="../assets/logo/favicon.ico" alt="" z-index="50" width="58" />
        </a> -->

        <span class="toolbar-spacer"></span>
        <FullScreen [iconTpl]="icon" style="margin-right: 8px">
          <ng-template #icon> <mat-icon class="topIcon">fullscreen</mat-icon></ng-template></FullScreen
        >
        <user style="margin-right: 8px"></user>
      </mat-toolbar>
      <!-- <br />
    <br />
    <br /> -->
      <router-outlet *ngIf="user != null && user != undefined"></router-outlet>
    </div>
  </mat-drawer-container>
</div>
<router-outlet *ngIf="user == null"></router-outlet>
