<div *ngIf="user != null" style="height: 100%">
  <mat-drawer-container class="main-container" hasBackdrop="false">
    <mat-drawer #drawer class="sidenav" opened mode="side">
      <div style="display: flex; justify-content: space-between; padding: 24px 20px; align-items: center">
        <img src="../assets/logo/rikielR.svg" alt="" z-index="50" width="40px" height="40px" />
        <button z-index="50" mat-icon-button [routerLink]="['/']">
          <mat-icon svgIcon="heroicons_outline:user-circle"></mat-icon>
        </button>
      </div>
      <div class="sideNav-TopCard" style="display: flex; padding: 18px; align-items: center">
        <img
          alt="photoURL"
          src="../assets/logo/avatar_default.jpg"
          class="inline-block rounded-full w-10 h-10"
          style="margin-right: 16px"
        />
        <!-- <mat-icon svgIcon="heroicons_outline:user-circle"style="margin-right: 16px" ></mat-icon> -->
        <div class="flex flex-col w-full">
          <h6 class="w-full overf text-sm font-regular">Admin</h6>
          <p class="text-xs font-extralight">admin</p>
        </div>
      </div>

      <!-- DASHBOARD Component -->
      <!-- <div style="margin-top: 24px">
      <div style="margin-left: 25px; margin-right: 25px">
        <span class="title">DASHBOARD</span>
        <p>Auto-resizing sidenav</p>
      </div>
    </div> -->
      <div class="side-con">
        <app-aside [routerString]="'/dashboard'" [svgIcon]="'feather:home'" [name]="'Dashboard'"></app-aside>
        <app-aside [routerString]="'/asset'" [svgIcon]="'feather:layers'" [name]="'Asset'"></app-aside>
        <app-aside [routerString]="'/ticket'" [svgIcon]="'feather:home'" [name]="'Ticket'"></app-aside>
        <app-aside [routerString]="'/user'" [svgIcon]="'feather:users'" [name]="'User'"></app-aside>
        <app-aside
          [routerString]="'/asset'"
          [svgIcon]="'feather:file-text'"
          [name]="'U.A.M'"
          [isDisabled]="true"
        ></app-aside>
        <app-aside
          [routerString]="'/report'"
          [svgIcon]="'feather:activity'"
          [name]="'Report'"
          [isDisabled]="true"
        ></app-aside>
        <app-aside
          [routerString]="'/vendor'"
          [svgIcon]="'heroicons_outline:identification'"
          [name]="'Vendor'"
          [isDisabled]="true"
        ></app-aside>
        <app-aside
          [routerString]="'/setting'"
          [svgIcon]="'feather:sliders'"
          [name]="'Setting'"
          [isDisabled]="true"
        ></app-aside>
      </div>
    </mat-drawer>

    <div class="sidenav-main-content bg-white" style="color: var(--TextColor)">
      <mat-toolbar class="mat-elevation-z4" style="z-index: 100; height: 64px; background-color: white">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon class="topIcon" svgIcon="feather:menu"></mat-icon>
        </button>
        <!-- <span class="toolbar-spacer"></span> -->
        <!-- <a [routerLink]="['/']">
          <img class="mx-4" src="../assets/logo/favicon.ico" alt="" z-index="50" width="58" />
        </a> -->

        <span class="toolbar-spacer"></span>
        <FullScreen [iconTpl]="icon">
          <ng-template #icon> <mat-icon class="topIcon">fullscreen</mat-icon></ng-template></FullScreen
        >
        <user [showAvatar]="false"></user>
      </mat-toolbar>
      <!-- <br />
    <br />
    <br /> -->
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
<router-outlet *ngIf="user == null"></router-outlet>
