<div class="flex flex-col gap-3">
  <!-- Cards Section -->
  <div class="flex p-1 items-center border border-gray-300 divide-x rounded-2xl">
    <!-- Icons / Image -->
    <!-- RAM -->

    <!-- If No RAM LAYOUT -->

    <!-- if Layout FOund -->
    <!-- <ng-container *ngIf="asset.laptop.memLayout.length > 0"> -->
    <!-- Icons / Image -->
    <ng-container>
      <img class="mx-3 my-auto" src="/assets/icons/ram-memory.png" height="45px" width="45px" alt="ram" />
      <!-- <hr class="border border-gray-300" /> -->

      <!-- Sr  -->
      <div class="columns-auto justify-center my-1 pl-3" style="width: 100%">
        <div class="flex items-center my-1">
          <h6 class="overf text-xs font-medium text-gray-300">S1 -&nbsp;</h6>
          <h6 class="overf text-xs text-black truncate">{{ asset.laptop.memLayout[0].size }} GB</h6>
        </div>
        <div class="flex items-center my-1">
          <h6 class="overf text-xs font-medium text-gray-300">S2 -&nbsp;</h6>
          <h6 class="overf text-xs text-black truncate">{{ asset.laptop.memLayout[0].size }} GB</h6>
        </div>
      </div>

      <!-- Type Area  -->
      <h6
        class="overf font-semibold border-x-2 text-lg text-center"
        style="writing-mode: vertical-rl; color: #ffb900"
      >
        DDR4
      </h6>
      <div style="width: 56px !important; min-width: 56px !important" class="col text-center">
        <h6 class="text-xs text-gray-300">Total</h6>
        <h4 class="text-lg font-bold">{{ asset.laptop.mem.total ?? "0" }}</h4>
        <h6 class="text-xs">GB</h6>
      </div>
    </ng-container>
  </div>
  <div class="flex p-1 items-center border border-gray-300 divide-x rounded-2xl">
    <ng-container>
      <img class="mx-3 my-auto" src="/assets/icons/ram-memory.png" height="45px" width="45px" alt="ram" />
      <!-- <hr class="border border-gray-300" /> -->

      <!-- Sr  -->
      <div class="columns-auto justify-center my-1 pl-3" style="width: 100%">
        <div class="flex items-center my-1">
          <h6 class="overf text-xs font-medium text-gray-300">S1 -&nbsp;</h6>
          <h6 class="overf text-xs text-black truncate">{{ asset.laptop.memLayout[0].size }} GB</h6>
        </div>
        <div class="flex items-center my-1">
          <h6 class="overf text-xs font-medium text-gray-300">S2 -&nbsp;</h6>
          <h6 class="overf text-xs text-black truncate">{{ asset.laptop.memLayout[0].size }} GB</h6>
        </div>
      </div>

      <!-- Type Area  -->
      <h6
        class="overf font-semibold border-x-2 text-lg text-center"
        style="writing-mode: vertical-rl; color: #ffb900"
      >
        DDR4
      </h6>
      <div style="width: 56px !important; min-width: 56px !important" class="col text-center">
        <h6 class="text-xs text-gray-300">Total</h6>
        <h4 class="text-lg font-bold">{{ asset.laptop.mem.total ?? "0" }}</h4>
        <h6 class="text-xs">GB</h6>
      </div>
    </ng-container>
  </div>
</div>
