<mat-form-field class="w-100" appearance="outline" style="font-size: small">
  <mat-label>Filter</mat-label>
  <mat-chip-list #chipListFilter>
    <mat-chip
      required
      *ngFor="let filter of filters"
      [selectable]="true"
      [removable]="true"
      (removed)="removeFilter(filter)"
    >
      {{ filter }}
      <mat-icon matChipRemove *ngIf="removableFilter">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="New Filter..."
      [formControl]="filterCtrl"
      #filterInput
      [matAutocomplete]="auto2"
      [matChipInputFor]="chipListFilter"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
    />
  </mat-chip-list>
  <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedFilter($event)">
    <mat-option *ngFor="let filter of filteredFilters | async" [value]="filter">
      {{ filter }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
