<div class="p-8">
  <div class="lg:flex lg:items-center lg:justify-between">
    <div class="flex-1 min-w-0">
      <h1 class="text-2xl tracking-tight font-medium text-gray-800 sm:text-2xl md:text-2xl">
        <span class="block xl:inline">Manage</span>
        <span class="block text-orange-600 xl:inline"> U.A.M</span>
      </h1>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
      <span class="sm:ml-3">
        <button
          type="button"
          class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
          [routerLink]="['create']"
        >
          <!-- Heroicon name: solid/check -->
          <mat-icon class="-ml-1 mr-2 h-5 w-5" svgIcon="heroicons_outline:plus"></mat-icon>

          Create
        </button>
      </span>
    </div>
  </div>
</div>
<div class="px-8">
  <div class="lg:flex lg:items-center lg:justify-between">
    <span class="hidden sm:block">
      <app-user-filter></app-user-filter>
    </span>
    <span class="hidden sm:block" style="font-size: small">
      <mat-form-field class="w-full">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="searchCtrl" />
      </mat-form-field>
    </span>
  </div>
</div>
<uam-list></uam-list>
