<!-- This example requires Tailwind CSS v2.0+ -->
<div class="container mx-auto p-8">
  <div class="flex-1 min-w-0">
    <h1 class="text-2xl tracking-tight font-medium text-gray-800 sm:text-2xl md:text-2xl">
      <span class="block xl:inline">Create</span>
      <span class="block text-orange-600 xl:inline"> Branch</span>
    </h1>
  </div>
  <div class="mt-5 lg:ml-4">
    <dl>
      <!-- Branch Name -->
      <div class="px-4 py-3 grid grid-cols-3 sm:gap-4 sm:px-6 items-center">
        <dt class="text-sm font-medium text-gray-500">Branch Name</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-orange-500 focus:border-orange-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
            />
          </div>
        </dd>
      </div>
      <!-- address Line 1 -->
      <div class="px-4 py-3 grid grid-cols-3 sm:gap-4 sm:px-6 items-center">
        <dt class="text-sm font-medium text-gray-500">Address Line 1</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-orange-500 focus:border-orange-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
            />
          </div>
        </dd>
      </div>

      <!-- address Line 2 -->
      <div class="px-4 py-3 grid grid-cols-3 sm:gap-4 sm:px-6 items-center">
        <dt class="text-sm font-medium text-gray-500">Address Line 2</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-orange-500 focus:border-orange-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
            />
          </div>
        </dd>
      </div>

      <!-- address Line 3 -->
      <div class="px-4 py-3 grid grid-cols-3 sm:gap-4 sm:px-6 items-center">
        <dt class="text-sm font-medium text-gray-500">Address Line 3</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-orange-500 focus:border-orange-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
            />
          </div>
        </dd>
      </div>

      <!-- City -->
      <div class="px-4 py-3 grid grid-cols-3 sm:gap-4 sm:px-6 items-center">
        <dt class="text-sm font-medium text-gray-500">City</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-orange-500 focus:border-orange-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
            />
          </div>
        </dd>
      </div>
      <!-- State -->
      <div class="px-4 py-3 grid grid-cols-3 sm:gap-4 sm:px-6 items-center">
        <dt class="text-sm font-medium text-gray-500">State</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-orange-500 focus:border-orange-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
            />
          </div>
        </dd>
      </div>
      <!-- country -->
      <div class="px-4 py-3 grid grid-cols-3 sm:gap-4 sm:px-6 items-center">
        <dt class="text-sm font-medium text-gray-500">Country</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-orange-500 focus:border-orange-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
            />
          </div>
        </dd>
      </div>

      <!-- FQDN -->
      <div class="px-4 py-3 grid grid-cols-3 sm:gap-4 sm:px-6 items-center">
        <dt class="text-sm font-medium text-gray-500">FQDN</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-orange-500 focus:border-orange-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
            />
          </div>
        </dd>
      </div>

      <!-- Branch Code -->
      <div class="px-4 py-3 grid grid-cols-3 sm:gap-4 sm:px-6 items-center">
        <dt class="text-sm font-medium text-gray-500">Branch Code</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class="col-span-6 sm:col-span-3">
            <input
              type="text"
              class="
                mt-1
                focus:ring-orange-500 focus:border-orange-500
                block
                w-full
                shadow-sm
                sm:text-sm
                border-gray-300
                rounded-md
              "
            />
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>
