<!-- This example requires Tailwind CSS v2.0+ -->
<div class="container m-6  ">
   <div class="flex flex-col gap-2">
      <div class="flex-1 min-w-0 p-2 bg-purple-200 rounded-md ">
         <span class="text-sm">State </span> <span class="text-sm text-purple-500 font-bold"> Closed</span>
      </div>
      <div class="flex-1 min-w-0 p-2 bg-green-200 rounded-md ">
         <span class="text-sm text-green-500 font-bold">Solved (Permanently)</span>
         <p class="text-xs text-stone-600">This is a test description for which testing this one loong text</p>
      </div>
   </div>

   <br>

   <div class="mt-4 text-xs">
      <div class="flex justify-between">

         <p>Service request by : <a class="cursor-pointer text-blue-600 hover:underline">Govindram Solanki</a></p>
         <p>3 months ago</p>
      </div>
   </div>

   <br>

   <div class="mt-4">
      <h1 class="mb-2 font-bold">1992341 Localhost</h1>
      <p class="text-xs">Hi, Team lskjfdlknwelkjnsdlfkj</p>
   </div>

   <br>
   <div class="mt-4">
      <table class="text-xs">
         <tr>
            <td class="w-44">Assigned to</td>
            <td class="font-bold">Vishal Server Admin</td>
         </tr>
         <tr>
            <td>Site</td>
            <td>ADI</td>
         </tr>
         <tr>
            <td>Department</td>
            <td>IT</td>
         </tr>
      </table>
   </div>


</div>
